<body>
  <form class='mt-4' name="container-form" method="POST" action="/courses/handle-form-actions">
    <h2>My courses</h2>
    <a href='/me/trash/courses' class='btn btn-link flex align-items-center'>
      {{!-- {{#if deletedCount}} --}}
      <span>🗑</span>
      <span>Deleted</span>
      <span>({{deletedCount}})</span>
      {{!-- {{/if}} --}}
    </a>

    <div class='mt-4 d-flex align-items-center'>
      <div class='custom-control custom-checkbox'>
        <input type='checkbox' class='custom-control-input' id='checkbox-all' />
        <label class='custom-control-label' for='checkbox-all'>Select all</label>
      </div>

      <div class='select-options'>
        <select id='inputState' class='form-control' name="action" required>
          <option value="">-- Select action --</option>
          <option value='delete'>Delete</option>
        </select>
      </div>

      <button type="submit" class='btn btn-primary btn-sm select-all-submit-btn' disabled>Apply</button>
    </div>

    <table class='table mt-4'>
      <thead>
        <tr>
          <th scope='col'></th>
          <th scope='col'>
            ID
            {{{sortable '_id' _sort}}}
          </th>
          <th scope='col'>
            Name
            {{!-- For security and escaped character in handlebars --}}
            {{{sortable 'name' _sort}}}
          </th>
          <th scope='col'>
            Level
          </th>
          <th scope='col' colspan='2'>
            Created at
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
          <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input input-checkbox" type="checkbox" name='courseIds[]' value="{{this._id}}">
              </div>
            </td>
            <th scope='row'>
              {{this._id}}
            </th>
            <td>{{this.name}}</td>
            <td class='text-uppercase'>{{this.level}}</td>
            <td>{{this.createdAt}}</td>
            <td>
              <a href='/courses/{{this._id}}/edit' class='btn btn-link'>Edit</a>
              <button
                class='btn btn-link'
                data-toggle='modal'
                data-target='#delete-course-modal'
                data-id='{{this._id}}'
              >Delete</button>
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan='5' class='text-center'>
              You haven't uploaded any course.
              <a href='/courses/create'>Upload course</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </form>

  {{! Course delete modal }}
  <div id='delete-course-modal' class='modal' tabindex='-1'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title'>Delete course</h5>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times</span>
          </button>
        </div>
        <div class='modal-body'>
          <p>Do you really want to delete this course?</p>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
          <button
            href='/courses/{{course._id}}'
            id='btn-delete-course'
            type='button'
            class='btn btn-danger'
          >Yes</button>
        </div>
      </div>
    </div>
  </div>

  {{! Delete hidden form }}
  <form name='delete-course-form' method='POST'></form>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var containerForm = $("form[name='container-form']")
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        // When dialog confirm clicked
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        });
        var checkboxAll = $('#checkbox-all')
        var checkboxCourseItem = $("input[name='courseIds[]']")
        var selectAllSubmitBtn = $('.select-all-submit-btn')
        var selectAction = $("select[name='action']")
        
        // When delete course btn clicked
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        }

        checkboxAll.change(function () {
          var isCheckedAll = $(this).prop('checked')
          checkboxCourseItem.prop('checked', isCheckedAll)
          renderSubmitAllBtn()
        })

        checkboxCourseItem.change(function() {
          var isCheckedAll = checkboxCourseItem.length === $("input[name='courseIds[]']:checked").length
          checkboxAll.prop('checked', isCheckedAll)
          renderSubmitAllBtn()
        })

        containerForm.on('submit', function(e) {
            selectAllSubmitBtn.click(function() {
            e.preventDefault()
            containerForm.submit()
          })
        })

        function renderSubmitAllBtn() {
          var isChekedCount = $("input[name='courseIds[]']:checked").length
          if (isChekedCount > 0) {
            selectAllSubmitBtn.attr('disabled', false)
          } else {
            selectAllSubmitBtn.attr('disabled', true)
          }
        }
    });
  </script>
</body>